#layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}


@media (min-width: 640px) {
    #layout {
        display: grid;
        grid-template-areas:
            "aside main main"
        ;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;

        overflow-x: hidden;

    }

}



label {
    @apply text-gray-400 text-lg;
}




aside {
    grid-area: aside;
    z-index: 10;
    background-color: #000000;
}

a.active {
    color: white;
}

aside:hover nav {
    transform: translatey(-1rem);


}

a.active span {
    --tw-bg-opacity: 1;
    background-color: rgb(252 165 165 / var(--tw-bg-opacity));
    border-radius: 0.5rem;
    padding-top: 0.25rem
        /* 4px */
    ;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem
        /* 8px */
    ;
    padding-right: 0.5rem
        /* 8px */
    ;


}


.modal {
    background-color: rgba(0, 0, 0, .5);
    width: 100vh;
    height: 100vh;
}


.ButtonAction:hover>div {
    display: block;
    background-color: blue;

}

/* BOTONES */

.btn-1-editar {
    @apply bg-blue-500 text-white font-bold py-2 rounded-lg px-4;
    @apply hover:bg-blue-700 hover:text-white;
}

.btn-1-eliminar {
    @apply bg-red-500 text-white font-bold py-2 px-4 rounded-lg;
    @apply hover:bg-red-700 hover:text-white;
}

.btn-1-guardar {
    @apply bg-green-500 text-white font-bold py-2 px-4 rounded;
    @apply hover:bg-green-700 hover:text-white;
}